* {
  box-sizing: border-box;
}

   

body {
  text-align: left;
  line-height: 1.5;
  background-image: url(https://images.unsplash.com/photo-1544726333-84c063e8e748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1406&q=80);
  font-family: didact-gothic, sans-serif;
  color: white;
  text-shadow: 1em;

}

h1 {
  font-size: 50px;
  padding: 0%;
}

h2 {
  font-size: 30px;
}


* { box-sizing: border-box; }


.item {
  width: 90%;
  height: 50px;
  margin: 5px;
  position: relative;
}

button {
  border: 1px solid white;
  background: white;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  color: #4A7145;
  transition: background 0.5s ease;
}

button:hover {
   background-color: #4A7145;;
  color: white;
  font-weight: normal;
}

button:hover i {
  color: white;
}

i {
  color: #1D556E;
  margin-left: 20px;
}

.arrow1 {
  animation: slide1 1s ease-in-out infinite;
  margin-left: 9px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}









.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
 padding-top: 0%;

}

.scrolling-wrapper::-webkit-scrollbar { 
                display: none; 
            } 
  .card {
    margin-right: 20%;
    min-width: 600px;
    min-height: 600px;
    border-style: solid;
    border-width: 1px;
    border-color: #BCBCB8;
    box-shadow: 5px 10px;
    min-height:300px;
    padding: 10px;
    background-color: #066465;
     font-family: 'Source Sans Pro', sans-serif;
  }


button {
  background-color: transparent; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

a {
  color: white;
  font-size: 20px;
}


.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: block;
  }
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: rgb(29, 91, 224);
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
    margin: 0 auto;
  width: 400px;

}
